name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install backend deps
        run: |
          cd server
          npm install

      - name: Install frontend deps
        run: |
          cd client
          npm install

      - name: Build React
        run: |
          cd client
          npm run build
